<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a href="/">Home</a>
    </li>
    {% if template.name == 'product' %}
      {% if collection %}
        <li class="breadcrumbs__item">
          <a href="{{ collection.url }}">{{ collection.title }}</a>
        </li>
      {% endif %}
      <li class="breadcrumbs__item is-active" aria-current="page">
        {{ product.title }}
      </li>
    {% elsif template.name == 'collection' %}
      <li class="breadcrumbs__item is-active" aria-current="page">
        {{ collection.title }}
      </li>
    {% elsif template.name == 'blog' %}
      <li class="breadcrumbs__item is-active" aria-current="page">
        {{ blog.title }}
      </li>
    {% elsif template.name == 'article' %}
      <li class="breadcrumbs__item">
        <a href="{{ blog.url }}">{{ blog.title }}</a>
      </li>
      <li class="breadcrumbs__item is-active" aria-current="page">
        {{ article.title }}
      </li>
    {% elsif template.name == 'page' %}
      <li class="breadcrumbs__item is-active" aria-current="page">
        {{ page.title }}
      </li>
    {% elsif template.name == 'search' %}
      <li class="breadcrumbs__item is-active" aria-current="page">
        Search
      </li>
    {% endif %}
  </ol>
</nav>
